<ll-slide title="Agenda" subtitle="">
  <div>
    <h6>Introduction</h6>
    <ul>
      <li>Historical Perspective</li>
      <li>Web Components</li>
      <!-- <li>NPM & Webpack</li> -->
      <li>The Big 3</li>
      <li>Conclusion</li>
    </ul>
  </div>
  <div>
    <h6>Live Code</h6>
    <ul>
      <li>Generate a new App</li>
      <li title="Cover creation, exports, imports, routing and the resulting code split">Generate a new Module</li>
      <li>Service</li>
      <li>Components</li>
      <ul>
          <li>Life Cycle</li>
          <li>DOM manipulation post jquery</li>
          <li>View Encapsulation</li>
        </ul>
        <li>Pipes</li>
        <li>Directives</li>
    </ul>
  </div>
</ll-slide>