<ll-slide>
  <div class="code">
    <code>
      &#x3C;a href=&#x22;foo&#x22; title=&#x22;&#x22;&#x3E;A link&#x3C;/a&#x3E; 
      <br />
      <br />
      <br />
      <br />
      <br />
      &#x3C;input name=&#x22;foo&#x22; value=&#x22;bar&#x22; title=&#x22;hello&#x22; type=&#x22;datetime-local&#x22;&#x3E;&#x3C;input&#x3E;

    </code>
  </div>
  <div>
    <ul>
      <li>Ubiquity</li>
      <li>Autonomous</li>
      <li>Shadow DOM</li>
      <li>NOT Virtual DOM (dsl)</li>
      <li><a href="https://caniuse.com/#search=shadow" target="_blank">
          Browser support
        </a></li>
    </ul>
  </div>
</ll-slide>